:root {
    --area-size: 736px;
}

body {
    overflow: hidden;
}

.menu-right {
    float: right;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.nav-wrapper {
    -webkit-app-region: drag;
}

.nav-wrapper li, button {
    -webkit-app-region: no-drag;
}

nav ul a.close-button:hover {
    background-color: #e53935;
}

.nav-wrapper nav {
    position: inherit;
}

.side-nav {
    width: 250px;
    top: inherit;
}

.content {
    width: 100%;
    float: left;
    padding-left: 250px;
    transition: padding-left .2s cubic-bezier(.4,0,.2,1);
}

.main-area {
    max-height: var(--area-size);
    overflow-y: auto;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}